@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background:#f9f9f9;
    min-height:100vh;
    overflow-x:hidden;
}
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:50px 100px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    z-index: 100;

}
.logo{
    color:#359381;
    font-size:2em;
    margin-right:250px;
}
.navigation a{
    margin:0 10px;
    border-radius:20px;
    text-decoration:none;
    font-weight:550;
    padding:6px 15px;
    color:#359381;

}
.navigation a:hover,
.navigation a.active{
    background:#359381;
    color:white;


}
.parallax{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}
#text{
    position:absolute;
    font-size:3.9em;
    color:rgb(252, 252, 252);

}
.section2{
    position:absolute;
    margin-bottom:10px;
    color:white;
    padding:100px;
    background:#01301c;

}
.sec h2{
  font-size:3em;
  color:whitesmoke;
  margin-bottom:10px;

}
.sec p{
    font-size:0.8em;
    color:rgb(255, 226, 226);
    margin-bottom:10px;
  
  }
.parallax img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}